openapi: 3.0.3
info:
  title: Bookstore API
  version: 1.1.0
  description: |
    A bookstore API for the APIOps bootcamp.
    This spec will be converted to Kong Gateway config using deck file openapi2kong.
  contact:
    name: Bookstore Team
    email: bookstore@example.com
servers:
- url: https://httpbun.com
  description: Mock backend (httpbun echoes requests)
paths:
  /books:
    get:
      operationId: listBooks
      summary: List all books
      tags:
      - books
      parameters:
      - name: limit
        in: query
        description: Maximum number of books to return
        schema:
          type: integer
          default: 20
      - name: genre
        in: query
        description: Filter by genre
        schema:
          type: string
      responses:
        "200":
          description: A list of books
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Book"
    post:
      operationId: createBook
      summary: Add a new book
      tags:
      - books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Book"
      responses:
        "201":
          description: Book created
  /books/{bookId}:
    get:
      operationId: getBookById
      summary: Get a book by ID
      tags:
      - books
      parameters:
      - name: bookId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A single book
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"
        "404":
          description: Book not found
    put:
      operationId: updateBook
      summary: Update a book
      tags:
      - books
      parameters:
      - name: bookId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Book"
      responses:
        "200":
          description: Book updated
    delete:
      operationId: deleteBook
      summary: Delete a book
      tags:
      - books
      parameters:
      - name: bookId
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Book deleted
  /authors:
    get:
      operationId: listAuthors
      summary: List all authors
      tags:
      - authors
      responses:
        "200":
          description: A list of authors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Author"
  /authors/{authorId}:
    get:
      operationId: getAuthorById
      summary: Get an author by ID
      tags:
      - authors
      parameters:
      - name: authorId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A single author
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Author"
  /reviews:
    get:
      operationId: listReviews
      summary: List all reviews
      tags:
      - reviews
      responses:
        "200":
          description: A list of reviews
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Review"
    post:
      operationId: createReview
      summary: Submit a book review
      tags:
      - reviews
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Review"
      responses:
        "201":
          description: Review submitted
security:
- ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
      description: API key issued via Developer Portal app registration
  schemas:
    Book:
      type: object
      required:
      - title
      - author
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
          example: "The Great Gatsby"
        author:
          type: string
          example: "F. Scott Fitzgerald"
        isbn:
          type: string
          example: "978-0743273565"
        genre:
          type: string
          example: "Fiction"
        price:
          type: number
          format: float
          example: 12.99
    Author:
      type: object
      required:
      - name
      properties:
        id:
          type: integer
        name:
          type: string
          example: "F. Scott Fitzgerald"
        bio:
          type: string
        books_count:
          type: integer
    Review:
      type: object
      required:
      - bookId
      - rating
      properties:
        id:
          type: integer
        bookId:
          type: integer
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        reviewer:
          type: string
